@font-face {
    font-family: Gotham;
    src: url("./font/GothamPro-Bold.ttf");
}

* {
    font-family: Gotham, serif;
}

html, body {
    background-size: 100%;
    background: #ed4159 url("./img/background.jpg") no-repeat;
    overflow-x: hidden;
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

@media only screen  and (min-width: 1921px) {
    html, body {
        background-size: 100%;
        background: #ed4159 url("./img/background@2x.jpg") no-repeat;
        overflow-x: hidden;
        height: 100vh;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}

@media only screen  and (min-width: 3841px) {
    html, body {
        background-size: 100%;
        background: #ed4159 url("./img/background@3x.jpg") no-repeat;
        overflow-x: hidden;
        height: 100vh;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}

.application-main {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto 409px auto;

}

.login-container {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
}

.logo-container {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 49px auto;
}

.logo-svg {
    height: auto;
    text-align: center;
    grid-row: 2;
}

.rounded-rectangle-user-name {
    width: auto;
    height: 34px;
    opacity: 0.8;
    font-size: 28px;
    text-align: center;
    color: #262626;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 56px;
    margin-top: 40px;
}

.submit-box-logout {
    width: auto;
    grid-column: 2;
    grid-row: 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.rounded-rectangle {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 5% 90% 5%;
}

.input-box-for-pass {
    width: auto;
    padding-right: 33px;
    grid-column: 2;
    grid-row: 3;
}

.rounded-rectangle-header-logo {
    opacity: 0.8;
    font-size: 24px;
    text-align: center;
    color: #262626;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    margin-top: 48px;
    margin-bottom: 48px;
}

button:hover {
    border-radius: 100px;
    box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ed4159;
}

button:active {
    border-radius: 100px;
    box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    color: #ed4159;
}

.submit-btn {
    width: 145px;
    height: 48px;
    border-radius: 100px;
    box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
    background-color: #ed4159;
    border: 1px solid transparent;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.96);
}

.submit-box {
    margin-right: auto;
    margin-left: auto;
    grid-column: 2;
    grid-row: 5;
    padding-bottom: 60px;
    padding-top: 48px;
}

.input-box-for-email {
    width: auto;
    padding-bottom: 32px;
    padding-right: 33px;
    grid-column: 2;
    grid-row: 2;
}

::placeholder {
    color: #262626;
    opacity: 0.4;
}

.input {
    width: 100%;
    height: 45px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 0.8;
    font-size: 16px;
    color: #262626;
    border-radius: 4px;
    border: solid 1px rgba(151, 151, 151, 0.25);
    background-color: #f1f1f1;;
}

.rounded-rectangle-user-photo {
    width: 128px;
    height: 128px;
    border: solid 1px #979797;
    border-radius: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    grid-column: 2;
    grid-row: 1;
}

#error-box {
    width: auto;
    grid-column: 2;
    grid-row: 4;
    margin-top: 32px;
    border-radius: 4px;
    background-color: rgba(237, 65, 89, 0.25);
    font-size: 16px;
    padding: 11px 16px;
    color: #ed4159;
}

@media (max-width: 600px) {
    .rounded-rectangle {
        width: auto;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
        padding: 0 24px 0 24px;
        border-radius: 8px;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: auto 100% auto;
    }

    #error-box {
        font-size: 12px;
        opacity: 0.8;
        margin-top: 24px;
    }

    .application-main {
        width: 100%;
        height: 100vh;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: auto 100% auto;
        grid-template-rows: auto 60% auto;

    }

    .rounded-rectangle-header-logo {
        width: auto;
        margin: 0 0 0 0;
        padding: 32px 0;
        opacity: 0.8;
        font-size: 20px;
        text-align: center;
        color: #262626;
    }

    .submit-box-logout {
        width: auto;
        grid-column: 2;
        grid-row: 3;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }

    .input-box-for-email {
        width: auto;
        padding-bottom: 24px;
        padding-right: 32px;
    }

    .rounded-rectangle-user-name {
        width: auto;
        height: 19px;
        opacity: 0.8;
        font-size: 19px;
        text-align: center;
        color: #262626;
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 42px;
        margin-top: 22px;
    }

    .submit-box {
        margin-right: auto;
        margin-left: auto;
        grid-column: 2;
        grid-row: 5;
        padding-bottom: 48px;
        padding-top: 40px;
    }

    .rounded-rectangle-user-photo {
        width: 86px;
        height: 86px;
        border: solid 1px #979797;
        border-radius: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        grid-column: 2;
        grid-row: 1;
    }

    .input {
        width: 100%;
        height: 44px;
        padding-left: 16px;
        padding-right: 16px;
        opacity: 0.8;
        font-size: 16px;
        color: #262626;
        border-radius: 4px;
        border: solid 1px rgba(151, 151, 151, 0.25);
        background-color: #f1f1f1;;
    }
}
